@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000f28;
  color: #adadad;
}

nav {
  background-color: #001335;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li > a {
  display: flex;
  align-items: center;
  transition: .5s;
  border: aqua;
  padding: 10px;
  width: 90%;
}

li > a:hover {
  border-left: 2px solid aqua;
  box-shadow: 1px 3px 5px aqua;
  transform: translateX(4px);
}

svg {
  margin-right: 20px;
}